/*css for sign of for user*/
body
{
    background-color: #f2f2f2;
    font-family: Arial;
}
.window 
{
    width: 800px;
    margin: 30px auto;
    background-color: white;
    border: 2px solid #555;
}
.header
{
    background-color: #1685c5;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.content
{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
}
h1
{
    text-align: center;
    font-size: 28px;
}
h2
{
    font-size: 18px;
    margin-top: 20px;
}
.account_table 
{
    width: 100%;
}
.account_table td 
{
    padding: 7px;
}
.account_table input 
{
    width: 95%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #777;
}
.buttons 
{
    text-align: right;
    margin-top: 20px;
}
button 
{
    padding: 8px 25px;
    margin-left: 10px;
    border: none;
}
.back 
{
    background-color: #ddd;
}
.next
{
    background-color: #1685c5;
    color: white;
}
/*  css for login */




/* *************************************************************** */


body 
{
    background-color: #f1f3f4;
    font-family: Arial;
    margin: 0;
}
.login_window 
{
    width: 1000px;
    height: 700px;
    margin: 35px auto;
    background-color: #f8f9fa;
    border: 3px solid #16466b;
}
.login_header 
{
    background-color: #087fc1;
    color: #102f4a;
    padding: 9px;
    font-size: 15px;
    font-weight: bold;
}
.login_content 
{
    text-align: center;
    padding-top: 65px;
}
#login_title 
{
    font-size: 32px;
    margin: 0;
    color: #111827;
}
#login_subtitle 
{
    font-size: 18px;
    margin-top: 2px;
    color: #26384a;
}
.login_form_box 
{
    width: 510px;
    margin: 35px auto;
    padding: 35px 40px;
    border: 1px solid #9aa5ad;
    background-color: #f8f9fa;
}
.login_table 
{
    width: 100%;
}
.login_table td 
{
    padding: 13px 5px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #26384a;
}
.login_table input 
{
    width: 95%;
    height: 28px;
    border: none;
    border-bottom: 1px solid #aeb8c0;
    background-color: #f8f9fa;
    outline: none;
    font-size: 15px;
}
.login_error 
{
    color: red;
    font-size: 12px;
    margin: 3px 0;
    font-weight: normal;
}
.login_buttons 
{
    text-align: center;
    margin-top: 10px;
}
.login_button,
.signup_button 
{
    width: 165px;
    height: 45px;
    border: none;
    font-size: 17px;
    color: white;
    cursor: pointer;
}
.login_button 
{
    background-color: #087fd1;
}
.signup_button 
{
    background-color: #149eaf;
    margin-left: 18px;
}
.user_buttons 
{
    text-align: center;
    margin-top: 15px;
}
.user_buttons button 
{
    border: none;
    padding: 8px 20px;
    margin: 0 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.citizen_button 
{
    background-color: #4caf50;
}
.journalist_button 
{
    background-color: #2196f3;
}
.police_button
{
    background-color: #607d8b;
}
.forgot_link
{
    display: block;
    margin-top: 55px;
    color: #1685c5;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
/* CSS for police sign up page for */

/* *********************************************************************** */

body
{
    background-color: #f2f2f2;
    font-family: Arial;
}
.window_police
{
    width: 800px;
    margin: 30px auto;
    background-color: white;
    border: 2px solid #555;
}
.header_police
{
    background-color: #1685c5;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.content_police
{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
}
.title_police
{
    text-align: center;
    font-size: 28px;
}
.account_table_police
{
    width: 100%;
}
.account_table_police td
{
    padding: 7px;
}
.account_table_police input
{
    width: 95%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #777;
}
.buttons_police
{
    text-align: right;
    margin-top: 20px;
}
.back_police
{
    padding: 8px 25px;
    margin-left: 10px;
    border: none;
    background-color: #ddd;
}
.next_police
{
    padding: 8px 25px;
    margin-left: 10px;
    border: none;
    background-color: #1685c5;
    color: white;
}


/* css for jurnalist sign up */


/* *************************************** */

body
{
    background-color: #f2f2f2;
    font-family: Arial;
}
.window_journalist
{
    width: 800px;
    margin: 30px auto;
    background-color: white;
    border: 2px solid #555;
}
.header_journalist
{
    background-color: #1685c5;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.content_journalist
{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
}
.title_journalist
{
    text-align: center;
    font-size: 28px;
}
.journalist_table
{
    width: 100%;
}
.journalist_table td
{
    padding: 7px;
}
.journalist_table input
{
    width: 95%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #777;
}
.buttons_journalist
{
    text-align: right;
    margin-top: 20px;
}
.back_journalist
{
    background-color: #ddd;
    padding: 8px 25px;
    margin-left: 10px;
    border: none;
}
.next_journalist
{
    background-color: #1685c5;
    color: white;
    padding: 8px 25px;
    margin-left: 10px;
    border: none;
}